<!-- Contact Section -->
<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">
          Vamos entrar em contato!</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">
          Ligue para nós ou envie-nos um e-mail e entraremos em contato o mais breve possível!
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
        <div> (42) XXXX - XXXX</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
        <!-- Make sure to change the email address in anchor text AND the link below! -->
        <a class="d-block" href="mailto:contact@yourwebsite.com">contato@condominioourobranco.com</a>
      </div>
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-location-arrow fa-3x mb-3 text-muted"></i>
        <div> Rua Barão de Capanema, 70 - Santa Cruz - Guarapuava - PR</div>
      </div>
    </div>
  </div>
</section>
