database: &database
  db.username: your-username
  db.password: your-password
  db.host: localhost

mailer: &mailer
  mailer.host: localhost
  mailer.port: '3000'

development:
  <<: *mailer
  <<: *database

test:
  <<: *mailer
  <<: *database
  browser.headless: 'true'

production:
  <<: *database